{
	"microservice.metadata":{
      "service.id": "",
      "component.id":"",
      "errorPayload": {
        "queue":"",
      },
      "errorMessage": {
        "queue":"",
      }
    },
    "broker":{
		"host":"",
		"port":6379,
    "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"main.publisher":{
			"queue":"",
		}
	},
	"subscribers":{
		"main.subscriber":{
			"queue":"",
			"type":"persistent"
		}
	}
}


